*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #141414;
	color: #fff;
}

.game{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}


.title{
	position: absolute;
	top: 0;
	font-size: 4rem;
	z-index: 2;
}


.score{
	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	position: absolute;
	top: 70px;
	z-index: 1;
}


.p-count,.c-count{
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
}


.options{
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}


.rock, .paper, .scissor{
	padding: 0.8rem;
	width: 100px;
	border-radius: 10px;
	background: rgb(10, 10, 10);
	outline: none;
	border-color: rgb(111, 121, 111);
	border: none;
    color: yellow;
	cursor: pointer;
}

.move{
	font-size: 2rem;
	font-weight: bold;
    
}

/* Reload button style */
.reload {
	display: none;
	margin-top: 2rem;
	padding: 1rem;
	background: rgb(15, 15, 15);
	outline: none;
	border: black;
	border-radius: 10px;
	cursor: pointer;
    color: yellow;
}

.result{
	margin-top: 20px;
	font-size: 1.2rem;
}

/* Responsive Design */
@media screen and (max-width: 612px)
{
	.title{
		text-align: center;
	}
	.score{
		position: absolute;
		top: 200px;
		width: 100vw;
	}
	.options{
		width: 100vw;
	}
    .move{
        margin-top: 3rem;
    }
}